export function set(dev = false) {
  const stage = Deno.args[0];
  if (!dev && stage === "prod") {
    Deno.env.set("BOT_TOKEN", "");
    Deno.env.set("CLIENT_ID", "");
    Deno.env.set("API_TOKEN", "");
    Deno.env.set("AIRTABLE_API_KEY", "");
  } else if (!dev && stage === "staging") {
    Deno.env.set("BOT_TOKEN", "");
    Deno.env.set("CLIENT_ID", "");
    Deno.env.set("API_TOKEN", "");
    Deno.env.set("AIRTABLE_API_KEY", "");
  } else {
    Deno.env.set("DISCORD_PUBLIC_KEY", "");
    Deno.env.set("BOT_TOKEN", "");
    Deno.env.set("CLIENT_ID", "");
    Deno.env.set("API_TOKEN", "");
    Deno.env.set("AIRTABLE_API_KEY", "");
  }
}
